  <mat-toolbar color="primary" class="toolbar">
    <h2>HealthClub</h2>
    <span class="example-spacer"></span>
    <div class="button-container">
      <button routerLink="/apply" mat-raised-button color="warm" class="mainend">Apply for Appointments</button>
      <button routerLink="/view" mat-raised-button color="warm" class="mainend">View Appointments</button>
      <button routerLink="/contact" mat-raised-button color="warm" class="mainend">Contact Us</button>
    </div>
  </mat-toolbar>
  
  <div class="logo text-center">
    <img width="100" src="assets\ibm-thumb.png" alt="" class="src">
</div>
  <!-- <router-outlet></router-outlet -->
<div style="height:100%" class="container mt-4">
         <router-outlet>  </router-outlet>
</div>

<aside mt-6 p-6 style="display: table-cell; justify-content: center;">
  <h2>Useful Links</h2>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">View Appointments</a></li>
    <li><a href="#">Place Appointment</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>

  <h2>Contact</h2>
  <li><a href="#">Company address</a></li>
  <!-- <p>Company email</p>
  <p>Company phone</p>
  <p>Company fax</p> -->
  <li><a href="#">Company address</a></li>
  <li><a href="#">Company mail</a></li>
  <li><a href="#">Company Careers</a></li>
  <li><a href="#">Company Benefits</a></li>
</aside>
