
<div class="text-center">
    <h1>Contact US</h1>
</div>
<div class="application-form m-3 p-4">
    <form [formGroup]="queryForm">
    
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
            </div>
            
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type ="email" formControlName="email" matInput placeholder="email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile No</mat-label>
                    <input type ="number" formControlName="mobile" matInput placeholder="Mobile No">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea input="text" formControlName="message" matInput placeholder="placeholder"></textarea>
                  </mat-form-field>
            </div>
            
        </div>
        <button mat-raised-button mt-4 (click)="submit()" color="accent">Submit</button>
    </form>
</div>